.category-navigation {
  margin: 0;
  padding: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-navigation.hidden {
  visibility: hidden;
}

.category-navigation button {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 4px;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0 0.5em;
  padding: 10px 20px;
  transition: all ease-in 0.233s;
}

.category-navigation button:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--text);
}

.category-navigation button.active {
  background-color: var(--active);
  border-color: var(--active);
  color: var(--text_dark);
}
