.game-frame {
  padding-bottom: 2em;
  flex-grow: 2;
}

.game-frame .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 2em);
}

.graph-frame {
  width: 100%;
  max-width: calc(100% - 200px - 1em);
  max-height: 80vh;
}

.graph-frame .info {
  display: none;
}

.graph-frame .info.active {
  display: block;
}

.graph {
  width: 100%;
  height: 100%;
  display: none;
}

.graph.active {
  display: block;
}
