.side-navigation {
  width: 200px;
}

.side-navigation button {
  background-color: var(--primary);
  border: none;
  color: var(--text_dark);
  display: block;
  padding: 0.75em;
  text-align: left;
  transition: all 0.233s;
  width: 100%;
}

.side-navigation button.active {
  background-color: var(--active);
  color: var(--text_dark);
}

.side-navigation button:hover {
  background-color: var(--secondary);
  color: var(--text);
}

.side-navigation button + button {
  border-top: 1px solid var(--bg);
}
