/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

:root {
  --primary: rgb(205, 95, 44);
  --secondary: rgb(71, 117, 178);
  --active: rgb(249, 192, 22);

  --bg: rgb(26, 27, 38);
  --bg_light: rgb(26, 47, 60);

  --text: rgb(253, 247, 250);
  --text_dark: var(--bg);

  --success: rgb(44, 193, 74);
  --info: rgb(0, 164, 173);
  --warning: rgb(252, 228, 10);
  --danger: rgb(244, 85, 36);
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../assets/fonts/Orbitron.ttf')
      format('truetype supports variations'),
    url('../../assets/fonts/Orbitron.ttf') format('truetype-variations');
  font-weight: 400 900;
}

html,
body {
  background-color: var(--bg);
  color: var(--primary);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
